<html>
    <head>
    {% if title %}
    <title>{{ title }} - chat</title>
    {% else %}
    <title>Simple chat app</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
           rel="stylesheet" media="screen">
        <style>
        .container {
            max-width: 1000px;
        }
        </style>
    </head>

    <body>
    {% block content %}{% endblock %}
    </body>
</html>
