	<!-- extended from "base.html" -->
	{% extends "base.html" %}

	{% block content %}

	<script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<div class="container">      	

		<div class="row">
			
			<div class="col-sm-6">
				<h1>Porozmawiaj z powstańcem</h1>
				<form role="form" method='POST' action='/'>
					<div class="form-group">
						<input
						type="text" 
						name="question"
						class="form-control" 
						id="question-box"
						placeholder="No, słucham..."
						style="max-width: 500px;" 
						autofocus required>
					</div>
					<button type="submit" class="btn btn-default">Pytaj</button>
				</form>
				<br>
				{% for error in errors %}
				<h4>{{ error }}</h4>
				{% endfor %}
			</div> 

        <div class="col-sm-6 pull-right">
          {% if stories %}
            <h1>Historie</h1>
            <br>
            <div id="stories">
              <table class="table table-striped" style="max-width: 500px;">
                <thead>
                  <tr>
                    <th>Abstrakt</th>
                    <th>Tekst</th>
                  </tr>
                </thead>
                {% for story in stories %}
                  <tr>
                    <td>{{ story.abstract}}</td>
                    <td>{{ story.text}}</td>
                  </tr>
                {% endfor %}
              </table>
            </div>
          {% endif %}
        </div>
		</div>
		<div = class="row">
			<div class="col-sm-12">
				{% if answer %}
				<h2>Odpowiedź:</h2>
				<br>
				<div id="results">
					{{ answer }}
				</div>
				{% endif %}
			</div>
		</div>
	</div>


	{% endblock %}
